<div class="post">
  <div class="post-header">
    <div class="mini-profile-pic pull-left">
      <%= image_tag post.poster_pic %>
    </div>
    <h4 class = "pull-left"><%= post.poster_name %></h4> 
  </div>
  <div class = "pic-wrapper">
    <%= image_tag post.image %>
  </div>
  <div class = "caption">
    <%= post.post_caption %>
  </div>
  <div class = "likes">
    <%= "#{post.like_count} likes" %>
  </div>
  <div class="comments">
    <h5 class="btn">
      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      Comments
      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </h5>
    <% @comments = post[:comments][:data] %>
    <div class = "comments-contents">
      <%= render partial: "comment", collection: @comments %> 
    </div>
  </div>
</div>
