<nav class="navbar navbar-default navbar-fixed-top">
  <h1 class = "logito pull-left hidden shrunk-nav">HapiPics</h1>
  <h3 class = "username pull-right hidden shrunk-nav"><%= @user[:username] %></h3>

  <div class="full-nav col-md-2 full-nav">
    <h1 class = "logo">HapiPics</h1>
    <br>
    <%= link_to 'Log out', logout_path %><br>
  </div>

  <div class="profile-pic col-md-2 pull-right full-nav">
    <%= image_tag @user[:profile_picture] %><br>
  </div>
  
  <div class = "profile-counts col-md-2 pull-right full-nav">
    <table class="counts pull-right">
      <h4 class = "text-right"><%= @user[:full_name] %></h4>
      <tbody class = "pull-right">
	<tr>
	  <td><h5>Posts</h5></td>
	  <td><%= @user[:counts][:media] %></td>
	</tr>
	<tr>
	  <td><h5>Followers</h5></td>
	  <td><%= @user[:counts][:follows] %></td>
	</tr>
	<tr>
	  <td><h5>Following</h5></td>
	  <td><%= @user[:counts][:followed_by] %></td>
	</tr>
      </tbody>
    </table>
  </div>
  

  <div class="profile-info col-md-6 pull-right full-nav">
    <h3><%= @user[:username] %></h3><br>
    <div class = "bio"> 
      <p><%= @user[:bio] %></p><br>
    </div>
  </div>
</nav>
  
<div class="container">
  <div class="feed col-md-8 col-md-offset-2">
    <%= render partial: "post", collection: @feed  %>
  </div>
</div>
