<div class="profile_pic col-md-2 pull-right">
  <%= image_tag @user[:profile_picture] %><br>
</div>
<div>
<h3><%= @user[:username] %></h3>
<%= @user[:id] %><br>
<%= @user[:full_name] %><br>
<%= @user[:bio] %><br>
<% @user[:counts].each do |name, count| %>
  <%= name %>
  <%= count %>
  <br>
<% end %>
<%= link_to 'Log out', logout_path %><br>
<div class="feed col-md-8 col-md-offset-2">
  <%= render partial: "post", collection: @feed  %>
</div>
