<h1><%= "Hello #{@user[:username]}" %></h1>
<%= link_to 'Log out', logout_path %><br>
<%= image_tag @user[:profile_picture] %><br>
<%= @user[:id] %><br>
<%= @user[:full_name] %><br>
<%= @user[:bio] %><br>
<% @user[:counts].each do |name, count| %>
  <%= name %>
  <%= count %>
  <br>
<% end %>
